.container {
    width:800px;
    box-sizing: padding-box;
    border:5px solid #000;
    margin:0 auto;
    margin-top: 5%;
  }

  .row{
      display: flex;
  }

  .black{
      height: 100px;
      width:100px;
      background-color: #000;

  }

  .white{
      height: 100px;
      width:100px;
      background-color:#fff;
}
